Emergency Department Visit Analysis (CDC NHAMCS)

Import Library

In [1]:
import pandas as pd

Dataset

In [4]:
emergency_data = pd.read_csv(r'C:\Users\navee\OneDrive\Desktop\Dataset\EmergencyDataset.csv', low_memory=False)

Dataset Info

In [7]:
emergency_data.head()

,Year,Measure Type,Leading 10 Ranking,Measure,Group,Subgroup,Estimate Type,Estimate,Standard Error,Lower 95% CI,Upper 95% CI,Reliable
0,2016,By primary diagnosis,0,All diagnoses,Total,All visits,Visit count,145591000.0,8798000.0,128347000.0,162835000.0,Yes
1,2016,By primary diagnosis,0,All diagnoses,By sex,Female,Visit count,79595000.0,4803000.0,70182000.0,89008000.0,Yes
2,2016,By primary diagnosis,0,All diagnoses,By sex,Male,Visit count,65996000.0,4119000.0,57923000.0,74070000.0,Yes
3,2016,By primary diagnosis,0,All diagnoses,By age,0-17 years old,Visit count,32146000.0,2840000.0,26579000.0,37713000.0,Yes
4,2016,By primary diagnosis,0,All diagnoses,By age,18-44 years old,Visit count,55978000.0,3436000.0,49243000.0,62713000.0,Yes

In [9]:
emergency_data.shape

(6776, 12)

In [11]:
emergency_data.columns.tolist()

['Year',
 'Measure Type',
 'Leading 10 Ranking',
 'Measure',
 'Group',
 'Subgroup',
 'Estimate Type',
 'Estimate',
 'Standard Error',
 'Lower 95% CI',
 'Upper 95% CI',
 'Reliable']

In [13]:
emergency_data.describe(include='all')

,Year,Measure Type,Leading 10 Ranking,Measure,Group,Subgroup,Estimate Type,Estimate,Standard Error,Lower 95% CI,Upper 95% CI,Reliable
count,6776.000000,6776,6776.000000,6776,6776,6776,6776,5.912000e+03,5.912000e+03,5.912000e+03,5.912000e+03,6776
unique,NaN,2,NaN,22,7,22,2,NaN,NaN,NaN,NaN,2
top,NaN,By primary diagnosis,NaN,All diagnoses,By primary payment source,All visits,Visit count,NaN,NaN,NaN,NaN,Yes
freq,NaN,3388,NaN,308,1540,308,3388,NaN,NaN,NaN,NaN,5912
mean,2019.000000,NaN,5.000000,NaN,NaN,NaN,NaN,3.453538e+06,3.389640e+05,2.789167e+06,4.117902e+06,NaN
std,2.000148,NaN,3.162511,NaN,NaN,NaN,NaN,1.209774e+07,9.741212e+05,1.028335e+07,1.393750e+07,NaN
min,2016.000000,NaN,0.000000,NaN,NaN,NaN,NaN,1.500000e+00,3.000000e-01,9.000000e-01,2.200000e+00,NaN
25%,2017.000000,NaN,2.000000,NaN,NaN,NaN,NaN,2.050000e+01,3.000000e+00,1.427500e+01,2.660000e+01,NaN
50%,2019.000000,NaN,5.000000,NaN,NaN,NaN,NaN,8.050420e+04,2.105740e+04,3.691145e+04,1.240996e+05,NaN
75%,2021.000000,NaN,8.000000,NaN,NaN,NaN,NaN,1.872750e+06,2.570000e+05,1.378000e+06,2.387500e+06,NaN
max,2022.000000,NaN,10.000000,NaN,NaN,NaN,NaN,1.553980e+08,1.129500e+07,1.353060e+08,1.754890e+08,NaN

Data Cleaning

In [19]:
emergency_data.columns = (emergency_data.columns
.str.strip()
.str.lower()
.str.replace(' ', '_')
.str.replace('-', '_')
.str.replace('(', '')
.str.replace(')', '')
.str.replace('/', '_')
)

In [21]:
columns_to_drop = ['standard_error', 'lower_95%_ci', 'upper_95%_ci']
emergency_data.drop(columns=columns_to_drop, inplace=True)

In [23]:
emergency_data.isnull().sum().sort_values(ascending=False)

estimate              864
year                    0
measure_type            0
leading_10_ranking      0
measure                 0
group                   0
subgroup                0
estimate_type           0
reliable                0
dtype: int64

In [25]:
emergency_data = emergency_data[emergency_data['estimate'].notnull()]

In [27]:
pd.set_option('display.float_format', '{:.0f}'.format)

 Export Cleaned Dataset

In [30]:
emergency_data.to_csv(r'C:\Users\navee\OneDrive\Desktop\Dataset\cleaned_emergency_visits.csv', index=False)